mixin hero-header(name, desc)
    section.hero
    -
      var socials = [
        ['vk', 'http://vk.com'],
        ['github', 'http://github.com'],
        ['in', 'http://in.com']
      ]
    ul.socials.hero__links
      each item in socials
        li.socials__item
          a(href=`${item[1]}`).socials__link
            +icon(item[0], 'socials__link-icon')
    .hero__menu
      +icon('hamburger', 'hambg-menu')
    .hero__title
      +icon('portfolio_header', 'section-title__pic')
    .hero__user.user
      .user__pic
      .user__description
          .user__name=(`${name}`)
          .user__info=(`${desc}`)
    .down-btn
      +icon('arrow_down', 'hero__down-btn')